html, body {
  height: 100%;
  width: 100%;
}
/* added color to navbar words and when hovered it turns blue */
.nav-link.active {
  color:#10C9C3 !important;
}

.nav-link {
    color:#141414 !important;
}

.nav-link:hover {
  color:#10C9C3 !important;
}
/* added color to navbar words and when hovered it turns blue */

/* added first background image, and made it cover teh whole screen with no repeats */
#computerimg {
  background-image: url('images/images/aidan-hancock-8RU4OuA6Yug-unsplash.png') !important;
  width:100% important;
  height:100% !important;
  background-repeat:no-repeat !important;
  background-size: cover !important;
}
/* added first background image, and made it cover teh whole screen with no repeats */


#rightcol {
  margin-top: 290px;
  margin-bottom:0px ;
  margin-left:0px ;
  margin-right:0px ;
  font-family:NunitoSans;  
}
























/* saved code in case */

 position:relative !important;
  top: 50% !important;
  transform: translate(-50%) !important;

/* saved code in case */

.col-1 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-2 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-3 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-4 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-5 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-6 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-7 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-8 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-9 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-10 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-11 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.col-12 {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}

.row {
  border-style: solid !important;
  border-color:black;
  border: 2px;
}