html, body {
  height: 100%;
  width: 100%;
}
/* added color to navbar words and when hovered it turns blue */
.nav-link.active {
  color:#10C9C3 !important;
}

.nav-link {
    color:#141414 !important;
}

.nav-link:hover {
  color:#10C9C3 !important;
}
/* added color to navbar words and when hovered it turns blue */

